@import "@rectangular-labs/ui/styles.css";
@import "@rectangular-labs/content/styles.css";
@import "@milkdown/crepe/theme/common/style.css";
@import "@milkdown/crepe/theme/frame.css";
@source "./**/*.{ts,tsx}";

:root {
  --radius: 0.8rem;
}
